* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY((-20px));
  }
}
